@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  --primary-very-dark-magenta: hsl(300, 43%, 22%);
  --primary-soft-pink: hsl(333, 80%, 67%);

  --neutral-dark-grayish-magenta: hsl(303, 10%, 53%);
  --neutral-light-grayish-magenta: hsl(300, 24%, 96%);
  --neutral-white: hsl(0, 0%, 100%);

  --font-leage: "League Spartan", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--neutral-light-grayish-magenta);
  font-family: var(--font-leage);
  padding: 50px 0;
}

main {
  max-width: 1200px;
}

main section:nth-child(1) {
  max-width: 350px;
}

section .main__header {
  text-align: center;
}

section .main__header .tittle {
  font-size: 40px;
  color: var(--primary-very-dark-magenta);
}

section .main__header .sub__tittle {
  font-size: 18px;
  padding: 10px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 18px;
  color: var(--neutral-dark-grayish-magenta);
}

section .points {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

.rated {
  background: hsl(333deg 80% 67% / 7%);
  padding: 15px 20px;
  border-radius: 10px;
}

.stars {
  margin-bottom: 10px;
}

p.reviews {
  color: var(--primary-very-dark-magenta);
  font-weight: 700;
  font-size: 18px;
}

.cards {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card {
  background: var(--primary-very-dark-magenta);
  border-radius: 10px;
  padding: 30px 25px;
  max-width: 350px;
}

.card__header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.card__header img {
  border-radius: 50%;
  height: 15%;
  width: 15%;
}

.card__footer {
  margin-top: 20px;
  color: var(--neutral-white);
  line-height: 1.4;
  font-size: 18px;
  padding-right: 22px;
}

.image__desc h1 {
  color: var(--neutral-white);
  font-size: 20px;
}

.image__desc p {
  margin-top: 5px;
  font-size: 18px;
  color: var(--primary-soft-pink);
}

@media screen and (900px >= width >= 768px) {
  body {
    padding: 0 20px;
  }

  main section:nth-child(1) {
    max-width: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  section .main__header {
    text-align: start;
  }

  section .main__header .tittle {
    font-size: 50px;
  }

  section .main__header .sub__tittle {
    padding-left: 0;
    font-size: 15px;
  }

  section .points {
    align-items: flex-end;
  }

  .cards {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .image__desc h1 {
    font-size: 16px;
  }

  .image__desc p {
    font-size: 14px;
  }

  .card__footer {
    font-size: 14px;
  }

  .rated {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 340px;
  }

  .stars {
    margin-bottom: 0;
  }

  p.reviews {
    font-size: 14px;
  }

  .rated:nth-child(1) {
    margin-right: 50px;
  }

  .rated:nth-child(2) {
    margin-right: 25px;
  }

  .card:nth-child(2) {
    transform: translateY(20px);
  }

  .card:nth-child(3) {
    transform: translateY(40px);
  }
}

@media screen and (1024px >= width > 900px) {
  body {
    padding: 0 20px;
  }

  main section:nth-child(1) {
    max-width: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  section .main__header {
    text-align: start;
  }

  section .main__header .tittle {
    font-size: 60px;
  }

  section .main__header .sub__tittle {
    padding-left: 0;
    font-size: 20px;
  }

  section .points {
    align-items: flex-end;
  }

  .cards {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .image__desc h1 {
    font-size: 18px;
  }

  .image__desc p {
    font-size: 16px;
  }

  .card__footer {
    font-size: 16px;
  }

  .rated {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 380px;
  }

  .stars {
    margin-bottom: 0;
  }

  p.reviews {
    font-size: 16px;
  }

  .rated:nth-child(1) {
    margin-right: 100px;
  }

  .rated:nth-child(2) {
    margin-right: 50px;
  }

  .card:nth-child(2) {
    transform: translateY(20px);
  }

  .card:nth-child(3) {
    transform: translateY(40px);
  }
}

@media screen and (width > 1024px) {
  body {
    padding: 0 20px;
  }

  main section:nth-child(1) {
    max-width: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  section .main__header {
    text-align: start;
  }

  section .main__header .tittle {
    font-size: 60px;
    padding-right: 70px;
  }

  section .main__header .sub__tittle {
    padding-left: 0;
    font-size: 22px;
    padding-right: 25px;
  }

  section .points {
    align-items: flex-end;
  }

  .cards {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .image__desc h1 {
    font-size: 18px;
  }

  .image__desc p {
    font-size: 16px;
  }

  .card__footer {
    font-size: 16px;
  }

  .rated {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 450px;
    padding: 20px;
  }

  .stars {
    margin-bottom: 0;
  }

  p.reviews {
    font-size: 18px;
  }

  .rated:nth-child(1) {
    margin-right: 100px;
  }

  .rated:nth-child(2) {
    margin-right: 50px;
  }

  .card__footer {
    font-size: 18px;
  }

  .card {
    padding: 25px 30px;
    max-width: 450px;
  }

  .card:nth-child(2) {
    transform: translateY(20px);
  }

  .card:nth-child(3) {
    transform: translateY(40px);
  }
}
